{% if webface_need_groups is defined %}
    {% spaceless %}
        <div id="{{ form.vars.id }}" class="entity-with-groups">
            <ul class="nav nav-tabs">
                {% for group_name, group_definition in webface_need_groups %}
                    <li class="{{ loop.first ? 'active' : '' }}"><a href="#{{ group_name }}" data-toggle="tab">{{ group_definition.label }}</a></li>
                {% endfor %}
            </ul>
            {{ form_errors(form) }}
            <div class="tab-content">
                {% for group, fields in webface_fields_by_group %}
                    <div id="{{ group }}" class="tab-pane fade {{ loop.first ? 'in active' : '' }}">
                        {% for fieldName, field in fields %}
                            {{ form_row(form[field.name]) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% else %}
    {{ form_widget(form) }}
{% endif %}