{% extends 'layout.twig' %}

{% block content %}
    <div class="span10 content content-list content-list-{{ table }}">
        {% spaceless %}
            <h2>
                {{ webface_current_table_label }}
                {% if actions._add is defined %}
                    <a href="{{ path(table ~ '_new') }}" class="btn btn-success"><i class="icon-plus icon-white"></i></a>
                {% endif %}
            </h2>
        {% endspaceless %}

        {% include 'partials/flash.twig' %}

        <table {{ webface_need_list_inline_edit is defined ? 'id="list-inline-edit"' : '' }} class="table table-striped  table-bordered">
            <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field.label }}</th>
                {% endfor %}
                <td class="list-entity-column-actions"></td>
            </tr>
            </thead>
            <tbody>
            {% if filter|length %}
                <tr id="list-filter" class="list-filter">
                    {% for name, field in fields %}
                        {% if name in filter|keys %}
                            <td class="list-filter-{{ name }}">{{ form_widget(filter[name]) }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <a href="{{ path(table ~ '_list') }}" id="filter-apply" class="btn"><i class="icon-filter"></i></a>
                        <a href="{{ path(table ~ '_list') }}" id="filter-clear" class="btn"><i class="icon-ban-circle"></i></a>
                    </td>
                </tr>
            {% endif %}
            {% for entity in entities %}
                <tr class="list-entity">
                    {% for name, field in fields %}
                        <td class="list-entity-{{ name }}">
                            {% if field.config.list_edit is defined and entity.list_edit_form[name] is defined %}
                                {{ form_widget(entity.list_edit_form[name]) }}
                            {% elseif entity['relation:belongs_to:display:' ~ name] is defined %}
                                {{ entity['relation:belongs_to:display:' ~ name]|raw }}
                            {% else %}
                                {{ entity[name]|raw }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="list-entity-column-actions">
                        {% for actionUrl, actionName in entity.actions %}
                            {% if actionName.url == '_edit' %}
                                <a href="{{ path(table ~ '_edit', { id: entity.id }) }}" class="btn link-edit" title="{{ actionName.label }}"><i class="icon-pencil"></i></a>
                            {% elseif actionName.url == '_delete' %}
                                <a href="{{ path(table ~ '_delete', { id: entity.id }) }}" class="btn" title="{{ actionName.label }}" onclick="if (confirm('Действительно удалить запись?')) { $.post($(this).attr('href'), function() { location.reload(); }); } return false;"><i class="icon-remove"></i></a>
                            {% else %}
                                {% if actionName.icon %}
                                    <a href="{{ actionName.url }}" title="{{ actionName.label }}" class="btn"><i class="icon-{{ actionName.icon }}"></i></a>
                                {% else %}
                                    <a href="{{ actionName.url }}">{{ actionName.label }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'partials/pagination.twig' with paging %}

        {% if actions._add is defined %}
            <a href="{{ path(table ~ '_new') }}" class="btn btn-success"><i class="icon-plus icon-white"></i> Добавить</a>
        {% endif %}
    </div><!--.span9-->
{% endblock %}